[2014-04-16 08:22] headinthebox opened #1 "Q: Xamarin/Mono support"
Tried to build the project using Xamarin Studio, which did not work. Is it a goal that the SDK can be build on Mono as well?

[2014-04-30 22:23] glennblock opened #2 "Review snippets for using the SDK with RX."
We are developing a set of Visual Studio snippets for use with the SDK. One of things we'd like to have is snippets for using the SDK with RX.

Here is a [link](https://github.com/glennblock/splunk-sdk-csharp-pcl/commit/e6e1345d3a25ad8eb5f8f67636702791231313ac) to a commit in my fork with the snippets we were thinking of. Please take a look and give us feedback. You can use the inline commenting f

[2014-04-30 22:58] glennblock opened #3 "Refactor Entity and Entity collections to be lightweight dynamic data containers"
Currently all Entity and Collections take a dependency on a `Service` object and expose CRUD methods. This change will decouple the two, with the Service having all the accessor methods and the Entity/Collection being immutable data containers. Also we will make them dynamic objects.

[2014-04-30 23:49] glennblock opened #4 "Expose the HttpResponseMessage in SearchResult"
This will enable folks to grab the raw stream if they want to manage the streaming themselves.

[2014-04-30 23:57] glennblock opened #5 "Change SearchResults to implement IEnumerable<Task<Result>> instead of IEnumerable<Result>"
As results are returned in an async manner, this will allow iterating through the collection of results in a non-blocking manner.

[2014-05-17 00:50] canoas opened #10 "SplunkStorm client for dotnet?"
any insights when a client lib/sdk will support both Splunk Enterprise and SplunkStorm?

[2014-06-16 21:58] codereflection opened #12 "Failure running unit tests: "ProcessInvocation86.exe - Precondition failed""
I am getting the following failure while running the unit tests on the `develop` branch. This is happening on multiple computers, and I am running into the issue while using TestDriven.net and the xUnit.net test runners. Being that these are unit tests, I expect that the unit tests would not be connecting to a Splunk server.

![Exception Image](http://i.imgur.com/Knaikx0.png)

[2014-07-08 18:34] #10 closed, assigned to nobody

[2014-07-08 18:40] #2 closed, assigned to nobody

[2014-07-08 18:41] #1 closed, assigned to David-Noble-at-work

[2014-07-08 18:41] #3 closed, assigned to David-Noble-at-work

[2014-07-08 18:41] #5 closed, assigned to nobody

[2014-07-23 20:26] #4 closed, assigned to nobody

[2014-07-23 21:19] #12 closed, assigned to nobody

[2015-04-17 17:19] travis134 opened #36 "C# SDK, XmlReaderExtensions throws exception when reading fields that use tags"
When getting started with the Splunk C# SDK I ran into an issue where the following exception would be thrown for certain search queries:

"Read charater data where <value> or <v> was expected"

Upon further investigation I determined that the issue was occurring when reading fields that made use of tags:
<field k='source'>
    <value><text>xboxvideo</text><tag>XBV</tag></value>
</field>

When rem

[2015-04-17 19:19] glennblock commented on #36
Hi @travis134 sounds like a bug, we'll look into it.

[2015-04-17 19:23] glennblock commented on #36
Thanks for reporting this!

[2015-04-29 14:00] brattonc opened #37 "ModularInput: Events in the EventWriter queue are lost when Splunk shuts down."
I ran in to this issue while working on a modular input that processes a large amount of data and subsequently runs for an extended period of time. If Splunkd shuts down while a modular input is running and events are sitting in the EventWriter queue, these events are lost and never logged to Splunk. Additionally, the events _are_ sent to the IProgress< EventWrittenProgressReport > as if they were

[2015-04-29 14:16] brattonc commented on #37
A fix I'd suggest is...
1. Have Splunkd send a signal to the modular input via it's stdin requesting that it shutdown.
2. The modular input framework would then discard everything in the event writer queue (without signaling the progress reporter) and signal back to splunkd that event writing is complete.
3. And then the modular input framework fires an event so that checkpoint data can be saved.

[2015-04-29 14:18] itay commented on #37
@brattonc thanks for filing the bug. As you noted, there is a larger issue with the control mechanisms from splunkd, and that's something we will look into but won't be fixed in the immediate future.

Do you think there is a bug in the C# Mod Input framework itself to fix, or is this just a symptom of the larger problem?

[2015-04-29 15:05] brattonc commented on #37
Imo, the EventWriter sending events to the progress reporter when it *could* know that Splunkd is trying to terminate it (via ctrl+break) is a bug. Trapping this and dumping the event queue wouldn't fix the issue, but would at least mitigate some of the damage. I'd rather lose a couple hundred events than 100k+ as it is right now.

I understand if this isn't a desirable change as it's a stopgap an

[2015-04-29 15:11] itay commented on #37
@brattonc we'll look into this and see what we can do. Pull requests as always are welcome.

[2015-04-29 15:14] glennblock commented on #37
Thank you @brattonc. We will definitely look into this.
On Wed, Apr 29, 2015 at 11:11 AM Itay Neeman <notifications@github.com>
wrote:

[2015-09-16 16:12] sethisernhagen commented on #36
Is there a work around for this?  Not being able to use global tags and the sdk is pretty rough.

[2015-09-16 23:30] itay commented on #36
Hi @sethisernhagen - sorry for the lack of updates. We have a fix in mind, but
we're working hard towards .conf next week, and hope we can have a fix out soon
after.

As always, we're happy and open to pull requests as well.

Thanks!

[2015-09-18 22:40] nhennebe67 commented on #36
I encountered the same bug.
My temporary fix was to comment out this line
//r.EnsureMarkup(XmlNodeType.Element, "value", "v");

in class SearchResult

I hope we can have the proper fix in Nuget soon!

       public async Task ReadXmlAsync(XmlReader reader)
        {
            Contract.Requires<ArgumentNullException>(reader != null, "reader");

            reader.MoveToElement();
            read

[2015-09-29 21:21] thnk2wn opened #42 "Cannot create service - must be rewritten using the code contracts binary rewriter"
When creating the service I get the following error popup in Visual Studio 2015 Enterprise:

 "An Assembly (probably "Splunk.Client") must be rewritten using the code contracts binary rewriter (CCRewrite)...

And I cannot proceed.

Splunk.Client 2.2.0

[2015-09-29 21:25] shakeelmohamed commented on #42
Hi @thnk2wn,

Thanks for letting us know, we're currently working on this in the `bugfix/code-contracts` branch

[2015-09-29 21:30] thnk2wn commented on #42
Thanks, please let me know when I can try again!

[2015-09-29 21:46] mtevenan-splunk commented on #42
Hi Geoff,

The documentation covers this. Please verify you've followed all the instructions on dev.splunk.com/view/SP-CAAAEYM<http://dev.splunk.com/view/SP-CAAAEYM>, and then let us know if you're still having trouble.

Thanks,
Matt

--
Matt Tevenan
Sr. Technical Writer
Splunk Inc. | www.splunk.com<http://www.splunk.com>

On Sep 29, 2015, at 2:21 PM, Geoff Hudik <notifications@github.com<mailto:n

[2015-09-29 21:53] thnk2wn commented on #42
@mtevenan-splunk Thanks. It would probably be helpful to add a link to that page to the readme. I arrived at this repo via nuget, I wasn't aware of that dev page.

[2015-09-29 22:00] thnk2wn commented on #42
I installed that and checked Perform Runtime Contract Checking but still receive the error. Is there something additional I need to setup on the Code Contracts tab page?

![code contracts](https://cloud.githubusercontent.com/assets/120529/10179419/b3cf4872-66ba-11e5-96ac-4a9cbcea45cb.png)

[2015-09-30 00:06] glennblock commented on #42
There shouldn't be, it just requires the rewriter. However, we're in the
process of updating the SDK and will re-release it in the next few days
without requiring you to have the rewriter.

On Tue, Sep 29, 2015 at 3:00 PM Geoff Hudik <notifications@github.com>
wrote:

[2015-10-02 03:24] shakeelmohamed commented on #36
We've just released v2.2.1 addressing this, thanks for the bug report @travis134!

[2015-10-02 03:24] #36 closed

[2015-10-02 03:26] shakeelmohamed commented on #42
Hi @thnk2wn, we've just released v2.2.1 addressing this! Thanks for the bug report

[2015-10-03 01:55] shakeelmohamed commented on #42
This is still an issue in the v2.2.1 nuget packages. We'll be investigating this some more next week, stay tuned

[2015-10-03 02:05] glennblock commented on #42
It looks like the issue is due to something on the MyGet end. We let MyGet
build our packages. We are looking into it. Thanks for your patience.
On Fri, Oct 2, 2015 at 6:55 PM Shakeel Mohamed <notifications@github.com>
wrote:

[2015-10-07 00:34] shakeelmohamed commented on #42
Hi @thnk2wn,

We've released v2.2.2 on nuget.
I've verified there are no code contracts errors when running a simple project in VS 2013 & 2015.
Please test it out and let us know, thanks again for your patience!

[2015-10-07 07:09] muratoflu commented on #42
I came across the same issue where I resolved by rebuilding the entire pcl
library solution in its seperate folder and use the binaries generated by
that. Seems like nuget binaries just dont work for some reason or another.
7 Eki 2015 03:34 tarihinde "Shakeel Mohamed" <notifications@github.com>
yazdı:

[2015-10-07 16:40] shakeelmohamed commented on #42
Hi @muratoflu,

Have you tried v2.2.2 from Nuget?

[2015-10-12 17:20] sethisernhagen opened #44 "Empty string value causing error - Read </value> where </text> was expected."
Version 2.2.2

I'm getting a `InvalidDataException: Read </value> where <text> was expected.` error when the returned data has a empty string value. Ex. Caption="".

I started receiving this error only after upgrading from version 2.1.2.

Stack Trace-
`[InvalidDataException: Read </value> where </text> was expected.]
   Splunk.Client.SearchResultStream.EnsureAwaiterSucceeded() +87
   Splunk.Client

[2015-10-12 17:27] David-Noble-at-work commented on #44
What version of Splunk are you running?

Sent from my iPhone

On Oct 12, 2015, at 10:20 AM, seth isernhagen <notifications@github.com<mailto:notifications@github.com>> wrote:

Version 2.2.2

I'm getting a "InvalidDataException: Read where was expected." error when the returned data has a empty string value. Ex. Caption="".

I started receiving this error only after upgrading from version 2.1.2.

S

[2015-10-12 17:34] sethisernhagen commented on #44
Splunk Enterprise version 6.1

[2015-10-12 17:43] David-Noble-at-work commented on #44
Are you able to share some query results? If that’s possible, I’ve got a couple of curl commands I’d like you to run.

On Oct 12, 2015, at 10:35 AM, seth isernhagen <notifications@github.com<mailto:notifications@github.com>> wrote:

Splunk Enterprise version 6.1

—
Reply to this email directly or view it on GitHub<https://github.com/splunk/splunk-sdk-csharp-pcl/issues/44#issuecomment-147470474>.

[2015-10-12 17:45] sethisernhagen commented on #44
Sure. I'd be happy to give it a go.

[2015-10-12 18:19] David-Noble-at-work commented on #44
Here are the commands that I’d like you too run. The first issues a search command with id=your_search. The second returns the results of the search command with id=your_search. Just substitute <your-search-string> and—assuming you’re not using the default admin:changeme credentials—replace “admin:changeme” with your credentials.

curl -k -u admin:changeme https://localhost:8089/services/search/jo

[2015-10-12 18:26] David-Noble-at-work commented on #44
I may have misspoke on max_count. Please set a specific value for it or no value at all.

On Oct 12, 2015, at 11:19 AM, David Noble <dnoble@splunk.com<mailto:dnoble@splunk.com>> wrote:

Here are the commands that I’d like you too run. The first issues a search command with id=your_search. The second returns the results of the search command with id=your_search. Just substitute <your-search-string>

[2015-10-12 18:52] sethisernhagen commented on #44
Attached are the results of the two curl commands.  Let me know if there if
there is anything else I can try to help troubleshoot this issue.

On Mon, Oct 12, 2015 at 11:19 AM David Noble <notifications@github.com>
wrote:

[2015-10-12 18:58] David-Noble-at-work commented on #44
Seth,

Thanks for running the commands, but I did not get the attachments. Would you mind resending?

Best,
David Noble
Developer Platform, Splunk Seattle

On Oct 12, 2015, at 11:52 AM, seth isernhagen <notifications@github.com<mailto:notifications@github.com>> wrote:

Attached are the results of the two curl commands. Let me know if there if
there is anything else I can try to help troubleshoot t

[2015-10-12 18:59] sethisernhagen commented on #44
Trying to attached again.

On Mon, Oct 12, 2015 at 11:58 AM David Noble <notifications@github.com>
wrote:

[2015-10-12 19:03] David-Noble-at-work commented on #44
Still no go. Would you sending the file directly to devinfo@splunk.com<mailto:devinfo@splunk.com>.

On Oct 12, 2015, at 11:59 AM, seth isernhagen <notifications@github.com<mailto:notifications@github.com>> wrote:

Trying to attached again.

On Mon, Oct 12, 2015 at 11:58 AM David Noble <notifications@github.com<mailto:notifications@github.com>>
wrote:

—
Reply to this email directly or view it on G

[2015-10-13 15:14] sethisernhagen commented on #44
asdf

[2015-10-15 21:41] David-Noble-at-work commented on #44
I resolved this issue with commit 6100d7f04ad8a94e25b75e9ae2ebb02de81be2d7 and added a test case for this condition. Seth verified the fix in his environment.

[2015-10-15 21:41] #44 closed

[2015-11-12 12:03] Caldas opened #46 "How to insert/delete KV data?"
I would like to know how can I manipulate data from KV collections using C# SDK.

[2015-11-18 18:26] reminvestor commented on #42
I am using the latest v2.2.2 from Nuget with VS 2013 and I still get this issue after installing code contracts.

[2015-11-18 18:43] glennblock commented on #42
Have you updated to the latest nuget client?
On Wed, Nov 18, 2015 at 10:26 AM Ryan Martin <notifications@github.com>
wrote:

[2015-11-22 01:41] itay commented on #46
@Caldas we do not currently have support in the C# SDK for the KV Store REST API. We're always open to a Pull Request to add this capability.

[2015-11-22 01:43] glennblock commented on #46
Hi @Caldad

We have a generic set of APIs in our SDK you should be able to use for
calling K/V store.

I will look into this for you.
On Sat, Nov 21, 2015 at 8:41 PM Itay Neeman <notifications@github.com>
wrote:

[2015-11-22 02:51] glennblock commented on #46
Hi @Caldas

Here is an example showing the general purpose API I was talking about. It allows you to work with all our REST APIs, so potentially it will work: https://github.com/splunk/splunk-sdk-csharp-pcl/blob/master/examples/Get-SplunkDataInput/Program.cs. This example shows restarting a data input, something we don't support in the SDK.

[2015-11-22 06:21] glennblock commented on #46
OK, I've looked into this further, and it can work. I've created a gist for you here to show you how: https://gist.github.com/glennblock/655fc417fd84b47b5bd9

This example shows creating a new collection in K/V store, adding an item to it, and then querying the collection. You can also do other operations like querying for specific keys, or replacing keys with some tweaks.

[2015-11-24 18:38] Caldas commented on #46
Thanks @glennblock your comments helped a lot.

Just another point, how can I delete data from KV using this REST API approach?

[2015-11-24 18:47] Caldas commented on #46
Sorry @glennblock I found how to delete using **_service.Context.DeleteAsync**

Thanks for your help ..

[2015-11-24 18:47] #46 closed

[2015-11-24 19:42] glennblock commented on #46
Sure! You've helped me create what will be a new blog post :-)

[2015-12-10 09:53] efaruk opened #49 "Not working as Expected with MVC Project"
Not working with ASP.NET MVC project, you could reproduce this issue by your self.
You guys using ConfigureAwaiter(false); in most of async methods but I think you lost in some cases, I'm not sure where it is. It's hanging when SendAsync called...

I used your PCL library in here: https://github.com/efaruk/playground/tree/master/log4net.Appender.SplunkAppenders. But I changed back to old sdk now.

[2015-12-10 20:17] glennblock commented on #49
Hi @efaruk.

Sorry you are having issues.

Can you give us a repro for your issue, or give us more detail on how to reproduce this?

Also, I see you are trying to use the REST API for logging. This is not really the way we'd recommend going forward.

Have you seen our .NET Logging library (http://dev.splunk.com/view/splunk-loglib-dotnet/SP-CAAAEX4)? It supports trace listeners and ETW. It can send

[2015-12-14 09:52] efaruk commented on #49
We are trying to consolidate log usage trough log4net not just for splunk, we have also our own log service and different target sources. So I don't want to discuss method here but we have our reasons. I also prefer standard log4net configuration parameters like most of users will be...

Yes you can reproduce the issue using my repo history: https://github.com/efaruk/playground/tree/master/log4net

[2016-03-25 18:58] machdevnet opened #51 "saved-searches example program exception when calling AtomEntry.cs"
When running the C# SDK release 2.2.2 against Splunk Server v6.3.3, the saved-searches example program fails and throws an exception when calling AtomEntry in Splunk.Client. See the exception details below. The cause appears to be an attempted duplicate **_`propertyName`_** in **AtomEntry** and its subsequent addition in the **_`dictionary`_**, at or around **line 396**.

[code]

[2016-03-25 19:06] glennblock commented on #51
Thanks for reporting @machdevnet. We will look into it.

[2016-05-06 22:48] JeremyButts opened #54 "Hangs when enumerating stream"
Version: 2.2.3
Platform: ASP.NET MVC 5
Framework: .Net 4.5 Visual Studio 2015
Splunk: 6.3.3

After performing a one shot search that returns no results (e.g. `<results />`) and then enumerating over the SearchResultStream the application hangs. No exception is thrown.

[2016-05-06 22:52] shakeelmohamed commented on #54
Thanks for the bug report @JeremyButts, we will look into this. In the meantime, we're open to a pull request if you want to take a look

[2016-05-06 22:54] JeremyButts opened #55 "JobCollection CreateAsync mode"
Version: 2.2.3
Does not look like **mode** is being used in the CreateAsync method on line 172 in JobCollection.cs.  I did not see when I set the value to blocking and observed the request with Fiddler.

[2016-06-01 07:41] quirket commented on #51
I am having the same issue. is there anymore information we can provide? or is there a workaround?

[2016-06-01 07:52] glennblock commented on #51
@quirket have you tried our latest SDK? We fixed this specific issue I believe in 2.2.3. https://github.com/splunk/splunk-sdk-csharp-pcl/blob/master/CHANGELOG.md

[2016-06-01 07:53] #51 closed

[2016-06-24 18:02] thecoderok opened #59 "How to deal with "The request was aborted: Could not create SSL/TLS secure channel" error?"
I am trying to run search example

[code]

But I keep getting exception:

`The request was aborted: Could not create SSL/TLS secure channel`

How do I deal with it? Since sdk targets portable library, I can't use this workaround:

[code]

Full stack trace:

[code]

[2016-06-30 22:03] shakeelmohamed commented on #59
Hi @thecoderok,

Can you try using one of the TLS versions on `SecurityProtocolType`? Splunk disables SSLv3 by default

[2016-10-05 23:15] #49 closed

[2017-01-06 14:17] drano opened #62 "ExportSearchResultsAsync returns InvalidDataException when no data"
After call ExportSearchResultsAsync and this search not found data, I try to get a list of results with
`var results = searchResultStream.AsEnumerable().ToList()`

This error is raised:
System.IO.InvalidDataException: Read </results> where <result> or <response> was expected.

I am using package 2.2.5

[2017-01-07 00:04] shakeelmohamed commented on #62
@drano can you show us an example program that reproduces this issue?

[2017-01-17 15:07] andrew-kuzovov opened #63 "Method EventWriter.QueueEventForWriting is not thread-safe"
Method EventWriter.QueueEventForWriting is claimed thread-safe, but **actually it is not** because of non-thread-safe eventQueueMonitor initialization inside.

[2017-01-23 18:36] shakeelmohamed commented on #63
Thanks for the issue @andrew-kuzovov, we'd welcome a pull request if you're interested in speeding up the process. Otherwise, we will look at it once we have some time

[2017-02-14 23:56] enghch opened #64 "No suport for System.Collections.Immutable v1.2?"
The nuget package for Splunk.Client lists as a dependency:

System.Collections.Immutable (>= 1.1.37 && < 1.2.0)

The latest .Net Core for UWP (5.2.2) comes with System.Collections.Immutable 1.2 therefore Nuget refuses to install Splunk.Client. Will there be an update that bumps the dependency on Systems.Collections.Immutable to 1.2.0 or higher?

[2017-03-03 02:19] agc93 commented on #64
I am having the same issue but caused by `Microsoft.NETCore.App (>= 1.1.0)` (i.e. the base .NET Core app library) which depends on >= 1.3.0 of `System.Collections.Immutable`.

This means that despite support `Profile111`, this library is totally unusable in .NET Core apps/projects. Can this dependency be relaxed/updated?

[2017-03-27 17:29] grbinho opened #67 "Memory leak with Expando object"
Hi,

We are using `Splunk.Client` to export data from our Splunk instalation.
At this moment we are querying our instance every minute for the previous minute of data. We are running a "Normal" search as demonstrated in you [documentation](http://dev.splunk.com/view/csharp-sdk-pcl/SP-CAAAEYY#normal).

It looks like we are running into a memory leak when doing this.

Our result set contains 12 colu

[2017-04-12 13:40] grbinho opened #68 "Timeout exception on job.GetSearchResultsAsync"
Hi,

is it possible to set a timeout for `job.GetSearchResultAsync` ? I was able to set the timeout on the context for the service, but that does not seem to have an effect on this call. I'm getting this exception

[code]

On the server side, i run the same query  and it is done withing a minute. It also returns 4MB of data, so I don't see why this is an issue.

It looks to me like there is a fixe

[2017-04-12 17:14] tdhellmann commented on #68
Hi @grbinho - can you give us a code snippet demonstrating this issue to help us look into it? Also, anything else you can tell us about your deployment (which version of Splunk; is it a clustered deployment; is it on Splunk Cloud; etc.) could be helpful.

[2017-04-12 20:49] grbinho commented on #68
Sure,

We are using spunk enterprise, build: 6.5.2.
To my knowledge this is a clustered/Load balanced setup. I'm not completely sure about the details, but I can follow up with the guys that are maintaining it.

And here is the code

[code]

[2017-04-13 11:50] grbinho opened #69 "Different time formats returned with the same query"
Hi,

i ran into a strange behavior when trying different ways of data export from Splunk.
I tried to use jobs to do searches with `service.GetSearchResultsAsync` and `service.ExportSearchPreviewsAsync` but it seems that they format time differently.
Here are the examples of what i did.

First the job version.
[code]
In this case `item` will have `_time` formatted like this

**"2017-01-24T11:46:59.

[2017-04-18 09:54] r8zr opened #70 "InvalidDataException while retrieving a list of saved searches for the specific app"
I'm experiencing a problem using SDK v2.2.5 while retrieving a list of saved searches for the specific app. I've gone through your code and seems like this is happening [right here](https://github.com/splunk/splunk-sdk-csharp-pcl/blob/master/src/Splunk.Client/Splunk/Client/AtomEntry.cs#L415).  A problematic name is different for different apps (for example: "action.customsearchbuilder.enabled", "a

[2017-04-21 00:39] shakeelmohamed commented on #64
See comment in #65

[2017-04-21 00:39] #64 closed

[2017-05-21 13:18] JohnPenney opened #71 "Unit tests fail - localisation issues"
I've just downloaded & built the Splunk C# SDK - on running unit tests I get 4 failures.  All seem to be related to my locale - I'm in the United Kingdom.
[code]

[2017-06-11 13:01] maxcra commented on #70
I am also experiencing this exact bug. I have asked for a solution on answers.Splunk.
https://answers.splunk.com/answers/543752/why-does-savedsearchesgetornullasync-throw-excepti.html

[2017-06-12 14:20] EfrainGonzalezBC commented on #42
Have VS2015 Nuget v.2.2.2 and still have the same issue. R u guys in Splunk planning to work on this issue soon?

[2017-06-12 17:40] shakeelmohamed commented on #42
@EfrainGonzalezBC this should be fixed in later versions. Can you try v2.2.6?

[2017-06-14 17:26] rahulisola commented on #42
Hello all,
I have a weird issue here. Project works fine with the correct options chosen in Code Contracts with Splunk.Client 2.2.5. But when I update to 2.2.6, it fails with the error even when Code Contracts is selected. I go back to 2.2.5 and it works again.

[2017-06-14 18:36] shakeelmohamed commented on #42
Thanks for the update @rahulisola

[2017-06-14 18:40] rahulisola commented on #42
@shakeelmohamed No problem. Happy to help.
Feel free to reach out if you need any information from my side or any help in testing a fix.

[2017-06-26 00:07] MACKAT05 commented on #59
I had a similar error using
ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls;
on the recent 6.6 upgrade.

using
ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

Seems to have resolved my issue

[2017-07-06 18:04] faisalmansoor commented on #67
+1 I am running into this also.

I am not sure, but, it might be caused by how dynamic calls are cached by c# compiler.

![image](https://user-images.githubusercontent.com/2112049/27925652-71793398-623a-11e7-807f-33822f1fc39b.png)

https://github.com/dotnet/corefx/pull/15397
https://github.com/dotnet/corefx/issues/11934
https://stackoverflow.com/questions/41354549/memory-leak-when-using-callsite

[2017-08-16 05:41] SaiSK88 commented on #42
@shakeelmohamed,

I am using VS 2017 and Splunk.Client 2.2.6 still I am getting "An Assembly (probably "Splunk.Client") must be rewritten using the code contracts binary rewriter (CCRewrite)".

Please suggest how this can be fixed?

Regards,
Sai

[2017-08-17 08:06] SaiSK88 opened #72 "LogOnAsync("hostname", "password") is returning null response"
Hi All,

I am using Spluck C# SDK 2.2.5 with Visual Studio 2017. Below is the code,

Service service = new Service(Scheme.Https, "localhost", 8089);
await service.LogOnAsync("admin", "adminone");
var searchResults = await service.SearchOneShotAsync("search index=_internal | head 10");

I am getting Null response for await service.LogOnAsync("username", "password") method.

The Splunk REST API is w

[2017-08-17 18:02] tdhellmann commented on #72
Hi Sai,

I assume this is on a development machine, right? You may be running into a certificate issue. In the examples that ship with the C# SDK, typically you will see this being done before connection:

ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls;
ServicePointManager.ServerCertificateValidationCallback += (sender, certificate, chain, sslPolicyErrors) =>
            {

[2017-08-18 20:29] SaiSK88 commented on #72
Hi Tedd,

Thanks for the quick reply.

I am using development machine, but I did not get any exception on Certificate Issue.
Could you please let me know where do I need to put below code to check if it solves the issue,,

ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls;
ServicePointManager.ServerCertificateValidationCallback += (sender, certificate, chain, sslPolicyErrors) =>
{
re

[2017-09-04 15:01] Gammeldags commented on #42
Version 2.2.6 does not work, CCRewriter does not work with VS2017,
but version 2.2.5 does not make these problems for me

[2017-09-12 01:07] omora-RA opened #73 "Compile to .net Standard 2.0"
I want to use this Nuget from a .NET Core 2.0 application.
Do you have any plans to build the code to .NET Standard 2.0?

[2017-10-20 15:38] Caldas commented on #73
I also need this, any comments about it?

[2017-10-20 17:31] #73 closed

[2018-01-23 18:24] cidico commented on #42
I'm having the same issue here with VS 2015 and 2017.
Even using the plugin for Code Contracts. Any tips on how to solve it?!
Thanks in advance...

![image](https://user-images.githubusercontent.com/3927895/35293098-d08ee324-0059-11e8-8ce8-3dc6c4a0b3a4.png)

[2018-02-09 16:23] ThiloL commented on #42
Hey splunk! Are you there.
Fix this CCRewrite stuff immediately.

[2018-03-05 18:16] shakeelmohamed commented on #42
Hey folks, we've been unable to re-produce the issue in house and that's the main reason we don't have a fix up yet. We're more than happy to accept a pull request if anyone can determine a fix

[2018-03-13 06:57] yuriyzotov commented on #42
Have the same Issue on VS2017 and Splunk.Client 2.2.6
When you will able to fix it?
To reproduce just add your NUGET to the solution and see the error

[2018-04-13 07:14] martinmine commented on #42
Also seeing this on Splunk.Client 2.2.7 from NuGet.org (VS2017/.NET Framework 4.7.1). Using version 2.2.5 as suggested by @Gammeldags (ironically, their username means old in Norwegian)

[2018-04-13 13:01] martinmine commented on #42
@shakeelmohamed Could this be an issue in your build system? I have investigated this a bit and the only difference I can see which could have an impact is the build system being misconfigured. I will do some more investigation and get back on this.

[2018-04-13 18:39] shakeelmohamed commented on #42
@martinmine It's certainly possible, but unfortunately we do not currently have the bandwidth to investigate this issue

[2018-04-13 19:56] martinmine commented on #42
@shakeelmohamed are you saying you don't have bandwidth to download a newer version of Visual Studio?

[2018-04-13 21:39] jaeshort opened #80 ".NET CORE 2.0 Compatability"
It would be nice to have a .NET CORE 2.0 NuGet since new development in Visual Studio will be utilizing these standards.

[2018-04-14 08:55] martinmine commented on #80
I just looked into compiling on .NET Standard 2.0 and turns out there is some work that needs to be done in addition to breaking API changes where most of the issues are related to use of dynamic.

[2018-04-16 14:21] jaeshort commented on #80
I changed the framework just to .NET 4.6.1 and ran the tests with several failing against the new version of Splunk. I am guessing they are broken api changes like you are experiencing. I may have to just take some of the working code out for what I need until the SDK can be updated for the latest REST API.

[2018-04-16 16:31] martinmine commented on #80
@jaeshort You can see on the master branch that there are failing builds: https://github.com/splunk/splunk-sdk-csharp-pcl/commits/master

And no, I was referring to compiler issues, not failing tests. Some of the output I get from `dotnet build` is:
[code]

This is because the SDK is implicitly casting a `dynamic` type to a concrete type, for example in ApplicationCollection.cs there is [the follo

[2018-04-16 18:10] shakeelmohamed commented on #42
@martinmine As much as it pains me to admit it, yes

[2018-04-16 19:33] martinmine commented on #42
@shakeelmohamed Damn, that is resource constrained. How about getting a VM in the cloud to run VS for you or something?

[2018-05-24 19:21] poparosa commented on #42
I have uploaded working libraries to my GitHub repository.  It can be found here:
https://github.com/poparosa/Splunk.Client

[2018-05-26 12:00] martinmine commented on #42
@poparosa you could also just use the code in the PR that I linked above; your repo only contains the DLL files (why?).

[2018-05-31 22:34] darkonejr commented on #42
This is a blocker for migrating our project to .NET Core (need a working library with both a recent Systems.Collections.Immutable and the Code Contract issue resolved).   @shakeelmohamed if you don't have time to work on this issue yourself, can you at least merge #79 and release, we're no worse off at this point...

[2018-06-01 19:08] shakeelmohamed commented on #42
Hi all, we've merged #79 (huge thanks to @martinmine!). We will look at getting a release out next week, thank you for your patience.

[2018-09-28 17:35] darkonejr commented on #42
He all, it's been a while, but it looks like this is still broken.  While System.Collections.Immutable has been updated to 1.3.1 in the .nuspec and package.config,  Splunk.Client.csproj still has a reference to 1.1.37....

[2018-09-28 18:11] darkonejr commented on #42
I've create PR #84  to correct the issue with S.C.I. please review and let me know if you see any issues with this.

[2018-11-08 21:22] AshleyPoole commented on #80
Any update on .NET Core (2.0) support??

[2018-12-06 08:21] mohsenvafa commented on #80
@martinmine Do you guys have any plan to update this package to .Net Core 2.0?

[2018-12-06 09:03] martinmine commented on #80
@mohsenvafa I'm not a maintainer of this package and I don't have any plans of porting it although I have looked into how much work it is to make the jump.

[2018-12-16 02:33] mohsenvafa opened #86 "Issue in Search with Push model"
In Search with Push Model, when you subscribe to the stream, the onNext is never called unless you iterate over all the result.
https://github.com/splunk/splunk-sdk-csharp-pcl/blob/25381ab45877dcb0e26cac22d55d30ff3ffb1c3b/examples/normal-search/Program.cs#L77

That means if you comment out lines 56-59, the observable stream will never be executed https://github.com/splunk/splunk-sdk-csharp-pcl/blo

[2019-01-14 16:33] justintoth commented on #73
Why was this closed without any comment? I have the same need.

[2019-04-10 21:55] vicarrara commented on #72
Hey Guys,

Any solution for this issue?

I have the same problem with my solution

Regards,

[2019-04-16 03:12] MACKAT05 opened #88 "another issue in the Atomic reader"
this Entry
name ".execute_input.flush_prestats" string
causes a failure in the normalise dictionary name method...

This happens whenever the Tstats command is used in a returned search

Have fix:
will open a pull request soon.

[2019-04-16 21:23] shilpabijam commented on #88
Sure, thanks for reporting this issue @MACKAT05 .

[2019-08-27 21:00] vector-sec opened #90 "How do you use MultiValueParameters?"
I can't find any examples or documentation that explains how to configure a MultiValueParameter in a modular input's scheme. I would think there would be some property of the argument class to denote that an argument is multivalue.

Any advice would be appreciated. Thanks!

[2019-08-27 21:21] #90 closed, assigned to nobody

[2019-11-04 09:10] gsureshkumarcse opened #94 "Stats Query in SDK - Task Cancelled error"
Hi Team,

I am trying to run stats splunk query using c# SDK and getting task cancelled error. Kindly help me on this. I have tried with/without sleep too.

[code]

[2019-11-19 16:08] VladPavliuk opened #97 "Cannot see dev.splunk.com/csharp"
I see 403 error when I try to visit:
http://dev.splunk.com/csharp

![Annotation 2019-11-19 180749](https://user-images.githubusercontent.com/24705251/69163795-856e0000-0af7-11ea-90c8-03bc491ef138.png)

[2019-11-21 21:03] bklooste opened #98 "How to deal with non default base path ?"
Security have blocked the api port and made it available on a different url but i dont see any options on how to set that ..  The path from the Uri overload seems to be ignored.

I dont see this documented anywhere... though i can hit the url with curl / raw http.  Was thinking a custom MessageHandler but that seems pretty  ugly..

[2019-11-29 07:57] stefantinger commented on #80
Are there still no plans to update it? An update to .NET Standard 2.0 would be quite nice...

[2020-01-27 13:46] ewan-derivco opened #99 "SavedSearches.CreateAsync(string, string) Fails with System.ArgumentException : An item with the same key has already been added"
Calling the SavedSearches.CreateAsync method with a name and search, creates the search but throws an exception, regardless of the name you send

System.ArgumentException : An item with the same key has already been added.

Sample code:

            using (var service = new Service(
                Scheme.Https,
                server,
                8089,
                new Namespace(user: "nob

[2020-01-27 15:53] ewan-derivco commented on #99
On investigation this seem sot be a problem in ParseDictionaryAsync

The name is split and only the last bit used. But this Causes duplicates for the saved search response.

                    propertyName = NormalizePropertyName(names[names.Length - 1]);
                    propertyValue = await ParsePropertyValueAsync(reader, level + 1).ConfigureAwait(false);
                    dictionary.Add(

[2020-01-27 16:37] ewan-derivco commented on #99
OK. looking further at that fuction,  it looks like the ITSI app adds some extra properties onto the SavedSearch reply which fall afoul of the "fields which are a value and a dictionary" problem which has a hard-coded solution in ParseDictionaryAsync

to fix I added a dynamic solution, for when a non dictionary value is found. this retroactively changes the value to a dictionary and adds the old v

[2020-01-28 10:03] ewan-derivco opened #100 "Long argument value causes UriFormatException Exception"
Uri.EscapeDataString fails if the string is longer than 32k characters (depending on framework?)

This causes an exception to be thrown in Splunk.Client.Context.CreateStringContent while the API can accept the long value.

Fix by splitting the string and looping?

[code]

https://docs.microsoft.com/en-us/dotnet/api/system.uri.escapedatastring?view=netframework-4.8

[2020-03-24 08:47] amos42 opened #102 "Splunk.Client is not the signed assembly"
Splunk.Client is not the signed assembly.
So this cannot be used in other signed assemblies.
This problem means there is a limit to where this library can be used.
Recommend distributing a Nuget containing a signed assembly.

[2020-03-26 22:43] fantavlik commented on #97
Hey @VladPavliuk this is the correct link: https://dev.splunk.com/enterprise/docs/csharp

[2020-03-26 22:43] #97 closed

[2020-03-26 22:47] fantavlik commented on #88
Hi @MACKAT05 if you have a fix or more context for this issue please reach out, I'm closing this until then.

[2020-03-26 22:47] #88 closed

[2020-10-23 09:11] Arun-Dhananjeyan opened #104 "How retrieve above 50000 events from singleshot search?"
Hi team,
how to retrieve more than 50000 events in splunk.client C#

[2021-04-13 14:45] ThiloL opened #107 "Issue in ASP.NET MVC controller action"
Like mentioned here https://community.splunk.com/t5/Archive/Async-deadlock-issues-using-Splunk-Client-with-ASP-NET/m-p/286560 LogOnAsync doesn't work in an ASP.NET MVC controller action. Something goes wrong with the threads.

Is there a workaround?

[2021-08-09 17:49] fahaddohadwala opened #108 "Exception Value does not fall within the expected range with Splunk version 8.1.4"
Need help from the community. We are using Splunk Client for csharp, Splunk client version 2.2.9.0
on .net framework 4.5
After the Splunk version was upgraded to 8.1.4 we are getting the following exception.
Exception: “Value does not fall within the expected range.”
The code is as follows, the same code gets the search results for the same dataset for data prior to the Splunk version upgrade. I c

[2021-10-07 09:35] YulerB opened #109 "Splunk Client is missing an implementation of IDataReader to consume from SearchResultStream"
As a consumer of your Client API.

I want to load data into SqlServer using Bulk Copy

Therefore I need a IDataReader instead of SearchResultStream.

Please add https://github.com/YulerB/SplunkClientDataReader/blob/main/SearchResultStreamDataReader.cs

So that clients can execute SQL-Server database loading in streaming mode using 1 implementation:
[code]

[2021-10-21 11:41] YulerB opened #110 "Exception: Read </results> where <result> or <response> was expected."
Error raised by Splunk Client .net core version :
Read ``</results>`` where ``<result>`` or ``<response>`` was expected.

When executing:
using (SearchResultStream results = await client.ExportSearchResultsAsync(search, searchExportArgs))

[2021-11-10 11:43] YulerB commented on #110
I managed to get a trace:

Method: GET, RequestUri: 'https://splunk:7089/services/search/jobs/export?search=search index%3Dvast sourcetype%3Dvast%3A eventtype%3Dvast_detection_event earliest%3D1634870997 latest%3D1634871222 | sort 500000 %2B _indextime&f=HOST_ID&f=IP&f=PORT&f=PROTOCOL&f=TRACKING_METHOD&f=TYPE&f=severity&f=_indextime&f=_time&f=_cd&max_count=5000', Version: 1.1, Content: <null>, Hea

[2021-11-15 11:09] YulerB commented on #110
Splunk Server
Version: 8.2
Build: e053ef3c985f

[2022-04-06 14:22] deivid77 opened #111 "Search with Push model .NET5"
Hi there,

I'm just wondering where did the **Subscribe()** method go in a Push Model Search.

I'm using Splunk.Client.**DotnetCore** Version="1.0.7" **nuget** package.

This is what I get:

![2022_04_06_15_44_22_ReportingRockwell_-_Microsoft_Visual_Studio](https://user-images.githubusercontent.com/6113575/161996943-1f8c7fb2-19f1-432f-af4b-4b742741cd8a.png)

![2022_04_06_15_57_14_splunk-sdk-csharp

[2022-04-06 14:30] #111 closed

[2022-07-27 17:45] XtremeOwnageDotCom commented on #109
Just a heads up... Splunk decided to depreciate this repository, its noted on at the top of the readme in the root of the repo.

If you are wanting to continue using it, I would suggest forking it, and making the changes yourself.

[2022-11-09 19:53] ncanumalla-splunk commented on #110
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:53] #110 closed

[2022-11-09 19:53] ncanumalla-splunk commented on #109
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:53] #109 closed

[2022-11-09 19:53] ncanumalla-splunk commented on #108
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:53] #108 closed

[2022-11-09 19:53] ncanumalla-splunk commented on #107
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:53] #107 closed

[2022-11-09 19:54] ncanumalla-splunk commented on #104
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:54] #104 closed

[2022-11-09 19:54] ncanumalla-splunk commented on #102
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:54] #102 closed

[2022-11-09 19:54] ncanumalla-splunk commented on #100
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:54] #100 closed

[2022-11-09 19:55] ncanumalla-splunk commented on #99
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:55] #99 closed

[2022-11-09 19:55] ncanumalla-splunk commented on #37
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:55] #37 closed

[2022-11-09 19:55] ncanumalla-splunk commented on #55
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:55] #55 closed

[2022-11-09 19:55] #54 closed

[2022-11-09 19:56] ncanumalla-splunk commented on #42
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:56] #42 closed

[2022-11-09 19:56] ncanumalla-splunk commented on #67
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:56] #67 closed

[2022-11-09 19:56] ncanumalla-splunk commented on #70
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:56] #70 closed

[2022-11-09 19:57] #59 closed

[2022-11-09 19:57] #62 closed

[2022-11-09 19:57] ncanumalla-splunk commented on #63
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:57] #63 closed

[2022-11-09 19:58] ncanumalla-splunk commented on #68
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:58] #68 closed

[2022-11-09 19:58] ncanumalla-splunk commented on #69
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:58] #69 closed

[2022-11-09 19:58] ncanumalla-splunk commented on #71
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:58] #71 closed

[2022-11-09 19:59] ncanumalla-splunk commented on #80
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:59] #80 closed

[2022-11-09 19:59] ncanumalla-splunk commented on #86
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:59] #86 closed

[2022-11-09 19:59] ncanumalla-splunk commented on #72
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:59] #72 closed

[2022-11-09 19:59] ncanumalla-splunk commented on #94
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:59] #94 closed

[2022-11-09 19:59] ncanumalla-splunk commented on #98
This SDK is [deprecated](https://github.com/splunk/splunk-sdk-csharp-pcl#deprecation-notice) and no longer under active development.

[2022-11-09 19:59] #98 closed